#page {
  border: solid red 5px;
  margin: 2vw;
  position: absolute;
  left: 10%;
  right: 10%;
  align-content: center;
  background-color: #FAFAD2;
  font-family: 'Noto Sans', sans-serif;
}

header {
  font-size: 300%;
  font-family: 'Aclonica', sans-serif;
  text-align: center;
  margin-top: 2%;
}

nav {
  text-align: right;
  margin-right: 10%;
}

nav a {
  display: inline-block;
  margin-left: 0.5%;
  margin-right: 0.5%;
  color: brown;
}

a:visited, a:hover {
  color: brown;
}

.main-content {
	margin-left: 10%;
	margin-right: 10%;
}

.main-text{
  font-size: 200%;
  font-family: 'Lemonada', cursive;
  color: black;
  background-color: rgba(255, 250, 250, 0.5);
	position: absolute;
	top: 18%;
	left: 15%;
  max-width: 75%;
}

.main-content figure img{
  max-width: 100%;
}

.explore {
  width: 90%;
  text-align: center;
  margin-left: 5%;
}

.float-left {
  float: left;
  margin-left: 2%;
  height: 100%;
  max-width: 30%;
}

.float-left p {
  text-align: center;
  border: solid brown 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.float-left-img {
  display: inline-block;
  max-width: 100%;
}

.float-left-text {
  text-align: center;
  font-family: 'Lemonada', cursive;
  font-size: 150%;
}

.manga-anime {
  display: inline-block;
  float: left;
  height: 100%;
  max-width: 43%;
  margin: 2.5%;
  border-style: double;
  border-width: 1%;
  background-color: white;
}

.more {
  text-align: right;
  font-size: 80%;
  margin-left: 65%;
}

.more-text {
  clear: both;
  display: block;
  border: solid #00BFFF 2px;
  padding: 5px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 60%;
  margin-top: 0;
  font-family: 'Lemonada', cursive;
  font-size: 120%;
}

.movie {
  clear: both;
  text-align: center;
  margin-left: 12%;
  margin-right: 14.4%;
  margin-bottom: 5%;
  border-style: double;
  border-width: 1%;
  background-color: white;
  padding: 10px;
}

.movie p {
  font-family: 'Lemonada', cursive;
  font-size: 150%;
}

.stampede-img {
  max-width: 100%;
}

.category {
  display: inline-block;
}

.category-text {
  border-style: solid;
  border-width: 0.5%;
  border-radius: 5px;
  background-color: white;
  max-width: 94%;
  font-size: 120%;
  margin-left: 2%;
}

.category-images {
  max-width: 90%;
  margin-right: 10%;
}